.calendar-row {
    width: 100%;
    border-left-style: solid;
    border-left-width: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    font-size: 0.95rem;
}

.calendar-row > * {
    width: 100%;
    height: 1rem;
    line-height: normal;
    margin-bottom: 3px;
}

.event-title {
    font-weight: bold;
}

.event-time {
    margin-bottom: 0px;
}

.event-date-to:before, .event-time-to:before {
    content: "-";
}

.event-icon {
    padding-right: 1em;
    width: 32px;
    min-width: 32px;
    max-width: 32px;
}